<div class="body center-in-container">
    <div class="card-container">
        <div class="circle big" [ngClass]="{ 'offset-big' : !isSignIn }"></div>
        <div class="circle" [ngClass]="{ 'offset' : !isSignIn }"></div>
        <div class="card">
            <form *ngIf="!isVerification" [formGroup]="authForm" (ngSubmit)="onSubmit($event)">
                <h1>{{isSignIn ? 'Sign in' : 'Sign up'}}</h1>
                <div class="fields">
                    <div class="animated sign-up-fields" [ngClass]="{ 'hidden' : isSignIn }">
                        <input type="text" placeholder="Name" id="name" formControlName="name">
                        <input type="text" placeholder="Surname" id="surname" formControlName="surname">
                        <input type="date" placeholder="Birthday" id="birthday" formControlName="birthdate">
                        <input type="email" placeholder="Family Member Email (Optional)" id="familyMemberEmail" formControlName="familyMemberEmail">
                    </div>
                    <input type="email" placeholder="Email" id="email" formControlName="email">
                    <input type="password" placeholder="Password" id="password" formControlName="password">
                </div>
                <button class="btn-filled" type="submit">{{isSignIn ? 'SIGN IN' : 'SIGN UP'}}</button>
                <button class="btn-outlined" type="button" (click)="toggleSignUp()">{{isSignIn ? 'SIGN UP' : 'SIGN IN'}}</button>
            </form>
            <div *ngIf="isVerification">
                <h1>Verification</h1>
                <div class="fields">
                    <input type="email" placeholder="Email" id="verifyEmail" [(ngModel)]="verificationEmail">
                    <input type="text" placeholder="Verification Code" id="verifyCode" [(ngModel)]="verificationCode">
                </div>
                <button class="btn-filled" type="button" (click)="verify()">VERIFY</button>
            </div>
        </div>
    </div>
</div>